/** HEADER **/
#header-top .container {
    background: red;
    color: black;
}
#header-top h1 {
    padding: 50px 0;
    font-size: 24px;
    font-weight: bold;
}

/**NAV-BAR **/
#navbar .container {
    background: chartreuse;
    width: 100%;
}
#navbar ul {
    padding: 10px 0;
}
#navbar ul li a {
    font-size: 20px;
    text-transform: uppercase;
    border-right: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
}
    /** Sub-menu **/
    li.drop-down {position: relative;}
    li.drop-down::before {
        position: absolute;
        content: "";
        width: 0px;
        top: 35%;
        left: 91%;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #ffff;
    }
    .nav .sub-menu {
        display: none;
        position: absolute;
        top: 90%;
        left: 70%;
        width: 100%;
        border-radius: 10%;
        border: 1px solid #25527f;
        background-color: #0e7fe073;
        margin: 0px 0;
        z-index: 10;
        padding: 0 !important;
    }
    .nav .sub-menu li {
        padding-bottom: 5px;
    }
    .nav .sub-menu li a {
        font-size: 14px !important;
        border: none !important;
        color: black;
        font-weight: bold;
    }

    /* sub-menu-2 */
    li.drop-down-2 {position: relative;}
    li.drop-down-2::before {
        position: absolute;
        content: "";
        width: 0px;
        top: 35%;
        left: 91%;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #ffff;
    }
    .nav .sub-menu-2 {
        display: none;
        position: absolute;
        top: 10%;
        left: 70px;
        width: 100px;
        border-radius: 10%;
        border: 1px solid #25527f;
        background-color: #06edf573;
        margin: 0px 0;
        z-index: 1;
        padding: 0 !important;
    }
    .nav .sub-menu-2 li {
        padding-bottom: 5px;
    }
    .nav .sub-menu-2 li a {
        font-size: 14px !important;
        border: none !important;
        color: yellow;
        font-weight: bold;
    }


/** SLIDER **/

/**
 * Padding is set relative to the width
 * of the element, so here padding-top:60% is
 * a percentage of the width. This allows us 
 * to set the height as a ratio of the width
 *
 */
 #slider .carousel{
	width: 100%;
	position: relative;
	padding-top: 60%;
	overflow: hidden;
}

#slider .inner{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}

/**
 * ==========================
 * Animation styles
 * 
 * Notes:
 * 1. We use z-index to position active slides in-front 
 * of non-active slides
 * 2. We set right:0 and left:0 on .slide to provide us with
 * a default positioning on both sides of the slide. This allows 
 * us to trigger JS and CSS3 animations easily
 *
 */
 #slider .slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	right:0;
	left:0;
	z-index: 1;
	opacity: 0;
}

#slider .slide.active,
.slide.left,
.slide.right{
	z-index: 2;
	opacity: 1;
}

/**
 * ==========================
 * JS animation styles
 * 
 * We use jQuery.animate to control the sliding animations
 * when CSS3 animations are not available. In order for
 * the next slide to slide in from the right, we need
 * to change the left:0 property of the slide to left:auto
 *
 */

 #slider .js-reset-left{left:auto}

/**
 * ==========================
 * CSS animation styles
 * 
 * .slide.left and .slide.right set-up
 * the to-be-animated slide so that it can slide
 * into view. For example, a slide that is about 
 * to slide in from the right will:
 * 1. Be positioned to the right of the viewport (right:-100%)
 * 2. Slide in when the style is superseded with a more specific style (right:0%)
 *
 */
 #slider .slide.left{
	left:-100%;
	right:0;
}

#slider .slide.right{
	right:-100%;
	left: auto;
}

#slider .transition .slide.left{left:0%}
#slider .transition .slide.right{right:0%}

/**
 * The following classes slide the previously active
 * slide out of view before positioning behind the 
 * currently active slide
 *
 */
 #slider .transition .slide.shift-right{right: 100%;left:auto}
 #slider .transition .slide.shift-left{left: 100%;right:auto}

/**
 * This sets the CSS properties that will animate. We set the
 * transition-duration property dynamically via JS.
 * We use the browser's default transition-timing-function
 * for simplicity's sake
 * 
 * It is important to note that we are using CodePen's inbuilt
 * CSS3 property prefixer. For your own projects, you will need
 * to prefix the transition and transform properties here to ensure
 * reliable support across browsers
 *
 */
 #slider .transition .slide{
	transition-property: right, left, margin;
}

/**
 * ==========================
 * Indicators
 *
 */
 #slider .indicators{
  width:100%;
  position: absolute;
  bottom:0;
  z-index: 4;
  padding:0;
  text-align: center;
}

#slider .indicators li{
	width: 13px;
	height: 13px;
	display: inline-block;
	margin: 5px;
	background: #fff;
	list-style-type: none;
	border-radius: 50%;
  cursor:pointer;
  transition:background 0.3s ease-out;
}

#slider .indicators li.active{background:#93278f}

#slider .indicators li:hover{background-color:#2b2b2b}

/**
 * ==========================
 * Arrows 
 *
 */
 #slider .arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

#slider .arrow:hover{border-color:#93278f}

#slider .arrow-left{
  left:20px;
  transform:rotate(225deg);
}

#slider .arrow-right{
  right:20px;
  transform:rotate(45deg);
}

/**
 * ==========================
 * For demo purposes only
 * 
 * Please note that the styles below are used
 * for the purposes of this demo only. There is no need
 * to use these in any of your own projects
 *
 */
 #slider .slide{
  text-align:center;
  padding-top:25%;
  background-size:cover;
}


#slider .slide:nth-child(1){
	background-image:url(../images/slide-1.jpg);
 }

 #slider .slide:nth-child(2){
	background-image:url(../images/slide-2.jpg);
}

#slider .slide:nth-child(3){
	background-image:url(../images/slide-3.jpg);
 }
/** CONTENT **/
#content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content .col-left ul.tabs{
    margin: 0px;
    padding: 10px 0 0;
    border-radius: 2px;
    list-style: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
#content .col-left ul.tabs li{
    background: #ffff;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

#content .col-left ul.tabs li.current{
    transition: background .3s ease;
    background: rgb(246, 250, 44);
    color: #222;
    font-weight: bold;
    
}

#content .col-left .tab-content{
    display: none;
    padding: 15px;
    background: #ffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

#content .col-left .tab-content.current{
    display: inherit;
}

/* Accordion*/
  #content .col-mid ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #content .col-mid ul .inner {
    overflow: hidden;
    display: none;
  }
    
  /* #content .col-mid ul li {
    margin: .5em 0;
  } */
  #content .col-mid p.toggle.content {
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px!important;
    }
  #content .col-mid ul li a.toggle {
    width: 100%;
    display: block;
    background: rgba(245, 241, 241, 0.973);
    color: rgb(15, 247, 235);
    font-weight: 600;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
}
  #content .col-mid ul li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
  }

#content .col-left, .col-right{
    flex: 24%;
    background: rgb(101, 65, 233);
    padding: 0 10px;
}
#content .col-right{
    background: rgb(241, 105, 52) !important;
    padding-top: 10px;
}
#content .col-mid{
    flex: 40%;
    padding: 10px 20px;
    background: #f10707;
}
#content .col-right .list-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#content .col-right .list-image {
    flex: 30%;
}
#content .col-right .list-image img {
    width: 400px;
}
#content .col-right .list-content {
    flex: 70%;
}

#content .col-right h5.title {
    font-size: 18px;
    padding: 0px 10px;
}
#content .col-right p.date {
    padding: 10px;
}

/** FOOTER */

#footer .container {
    background: gray;
    padding: 10px 0;
}
#footer h1.footer-t.text-center {
    font-size: 24px;
    color: yellow;
    font-weight: bold;
}

/** MENU **/
#menu li.has-sub {
    z-index: 9999;
}
nav{position:relative;max-width:1200px;margin:0 auto; text-transform: uppercase;}
#menu,#menu ul,#menu ul li,#menu ul li a,#menu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#menu:after,#menu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#menu #head-mobile{display:none}
#menu{font-family:sans-serif;background:#448D00}
#menu > ul > li{float:left}
#menu > ul > li > a{padding:17px;font-size:12px;letter-spacing:1px;text-decoration:none;color:#ddd;font-weight:700;}
#menu > ul > li:hover > a,#menu ul li.active a{color:#fff}
#menu > ul > li:hover,#menu ul li.active:hover,#menu ul li.active,#menu ul li.has-sub.active:hover{background:rgb(21, 253, 33)!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#menu > ul > li.has-sub > a{padding-right:30px}
#menu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#menu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#menu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#menu ul ul{position:absolute;left:-9999px}
#menu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#333;transition:all .25s ease}

#menu li:hover > ul{left:auto}
#menu li:hover > ul > li{height:35px}
#menu ul ul ul{margin-left:100%;top:0}
#menu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#ddd;font-weight:400;}
#menu ul ul li:last-child > a,#menu ul ul li.last-item > a{border-bottom:0}
#menu ul ul li:hover > a,#menu ul ul li a:hover{color:#fff}
#menu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#menu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#menu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#menu ul ul li.has-sub:hover,#menu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#menu ul ul ul li.active a{border-left:1px solid #333}
#menu > ul > li.has-sub > ul > li.active > a,#menu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:1000px){
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
#menu{width:100%}
#menu ul{width:100%;display:none}
#menu ul li{width:100%;border-top:1px solid #444}
#menu ul li:hover{background:#363636;}
#menu ul ul li,#menu li:hover > ul > li{height:auto}
#menu ul li a,#menu ul ul li a{width:100%;border-bottom:0}
#menu > ul > li{float:none}
#menu ul ul li a{padding-left:25px}
#menu ul ul li{background:#333!important;}
#menu ul ul li:hover{background:#363636!important}
#menu ul ul ul li a{padding-left:35px}
#menu ul ul li a{color:#ddd;background:none}
#menu ul ul li:hover > a,#menu ul ul li.active > a{color:#fff}
#menu ul ul,#menu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#menu > ul > li.has-sub > a:after,#menu > ul > li.has-sub > a:before,#menu ul ul > li.has-sub > a:after,#menu ul ul > li.has-sub > a:before{display:none}
#menu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;background:black;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#menu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
#menu .submenu-button.submenu-opened{background:#262626}
#menu ul ul .submenu-button{height:34px;width:34px}
#menu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#menu ul ul .submenu-button:after{top:15px;right:13px}
#menu .submenu-button.submenu-opened:after{background:#fff}
#menu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#menu ul ul .submenu-button:before{top:12px;right:16px}
#menu .submenu-button.submenu-opened:before{display:none}
#menu ul ul ul li.active a{border-left:none}
#menu > ul > li.has-sub > ul > li.active > a,#menu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}